<h2>Task List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Task</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let task of tasks">
            <td>{{task.name}}</td>
            <td>{{task.description}}</td>
            <td>{{task.date}}</td>
            <td>
                <button (click)="deleteTask(task.id)"
                class = "btn btn-danger" style="margin-left: 10px">Delete </button>
            </td>
        </tr>
    </tbody>
</table>